
.menu ul {
  list-style: none;
  padding: 0;
  margin: 2pc;
  background-color:darkgray;
  border-radius: 5pc;

}

.menu ul li {
  display: inline-flex;
  font-size:large;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}


button {
  text-align: center;
  border-radius: 6px;
  background-color: lightgray;
  border-radius: 5%;
  border: none;
  color: #fff;
  padding: 12px;
  width: 10pc;
  transition: all 0.5s;
  cursor: pointer;
  margin: 40px 1pc 2pc 2pc;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  font-size: medium;
  
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '🔎';
  position: absolute;
  opacity: 0;  
  top: 10px;
  right: 2px;
  transition: 0.5s;
}

button:hover{
  padding-right: 20px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 8px;
}

.img_c{
  height: 26pc;
  right: 10px;
  background-size: contain;
  display:inline-flex;
}

/*----------------------------*/

body {
  background: #f2f4f8;
  display: flex;
  font-family: "Open Sans";
}
.container {
  display: flex;
}
.card {
  width: 330px;
  height: 500px;
  border-radius: 40px;
  transition: all 0.2s ease-out;
  margin-left: 6pc;
  background-color: gainsboro;

}

.card:hover {
  transform: translateY(-25px) scale(1.005) translateZ(0);
}

.img_card{
  background-size: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 380px;
  width: 330px;
}




